source ~/.zprofile
source ~/.alias.zsh
source ~/.local.zsh

# Path to your Oh My Zsh installation.
export ZSH="$HOME/.oh-my-zsh"

# Theme configuration
ZSH_THEME="{{ omz_theme | default('risto') }}"

# Plugins configuration
plugins=(
{% for plugin in omz_plugins | default(['git']) %}
	{{ plugin }}
{% endfor %}
)

source $ZSH/oh-my-zsh.sh
